@font-face {
    font-family: "yekanBakh-Regular";
    src: url('../fonts/IRANYekanXFaNum-Regular.woff') format("woff");
}

@font-face {
    font-family: "yekanBakh-Bold";
    src: url('../fonts/IRANYekanXFaNum-Bold.woff') format("woff");
}
/*  */
html {
    scroll-behavior: smooth;
    direction: rtl;
}

body {
    font-family: "yekanBakh-Regular";
    user-select: none;
    overflow-x: hidden;
}

.font-bold {
    font-family: "yekanBakh-Bold";
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all .4s;
}

/* object fit */
.object-cover {
    object-fit: cover;
}

/* overflow */
.overflow-x-hidden {
    overflow-x: hidden;
}

/* border dash */
.border-dash {
    border: 2px dashed lightgray;
}

.border-b-dash {
    border-bottom: 2px dashed #0000000D
}
/* border-radius */
.rounded-8 {
    border-radius: 8px!important;
}
.rounded-10 {
    border-radius: 10px!important;
}
.rounded-12 {
    border-radius: 12px!important;
}
.rounded-20 {
    border-radius: 20px;
}
/* z index */
.-z-1 {
    z-index: -1;
}

.-z-0 {
    z-index: 0;
}

.z-0 {
    z-index: 1;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}
/* color */
.text-main {
    color: #73b4a6;
}
.text-blue {
    color: #0C356A!important;
}
.text-gray {
    color: #8e95a3;
}
/* box shadow */
.shadow1 {
    box-shadow: 0px 0px 26.399999618530273px 0px #00000040;
}
/* rotate */
.-rotate-2{
    transform: rotate(-2deg);
}
/* top */
.-top-2 {
    top: -2px;
}
.-top-8 {
    top: -8px;
}
/* bottom */
.bottom-8 {
    bottom: -8px;
}
/* right */
.right-0 {
    right: 0;
}
/* left */
.left-0 {
    left: 0;
}
/* background */
.bg-main {
    background-color: #62af9f;
}
.bg-gray{
    background-color: rgba(231, 231, 231, 0.342);
}
/* font size */
.fs-10 {
    font-size: 10px;
}
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-22 {
    font-size: 22px;
}
.fs-24 {
    font-size: 24px;
}
/* max width */
.max-w-357 {
    max-width: 357px;
    width: 100%;
}
/* border */
.border-main{
    border: 1px solid #73b4a6;
}
/* width */
.w-15 {
    width: 15px;
}
.w-42 {
    width: 42px;
}
.w-55 {
    width: 55px;
}
.w-127 {
    width: 127px;
}
/* height */
.h-26{
    height: 26px;
}
.h-42{
    height: 42px;
}
.h-44{
    height: 44px;
}
.h-55{
    height: 55px;
}
.h-59{
    height: 59px;
}
/* margin top */
.-mt-4 {
    margin-top: -4px;
}
/* margin bottom */
.-mb-33 {
    margin-bottom: -33px;
}
/* transition */
.transition{
    transition: all .4s;
}
/* hover */
.hover1:hover{
    box-shadow: 0 0 9.6px #73b4a6;
}
/* global styles */
.row{
    margin-left: 0;
    margin-right: 0;
}
.outline-none {
    outline: none;
}
.opacity-none {
    opacity: 0;
}
.visible-none {
    visibility: hidden;
}
.cursor-pointer {
    cursor: pointer;
}
.cursor-default{
    cursor: default;
}
.text-justify {
    text-align: justify;
}
.modal {
    backdrop-filter: blur(3px);
}
input[type="number"] {
    -moz-appearance: textfield;
}
/* pagination */
.page-link {
  color: #73b4a6;
  border-radius: 10px;
}
/* swiper */
.swiper-pagination-bullet-active{
    background-color: #73b4a6;
}
.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #73b4a6;
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: #73b4a6;
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
/* header */
header ul li > p,header ul li svg path,.showHover > p,.dropdown-content{
  transition: all .4s;
}
header ul li:hover> a,header ul li:hover > p,.showHover:hover > p{
    color: #73b4a6!important;
}
header ul li:hover svg path{
    stroke: #73b4a6!important;
}
header .dropdown{
    opacity: 0;
    transition: all .4s;
    top: 95px;
    visibility: hidden;
}
header .showHover:hover .dropdown{
    opacity: 100%;
    top: 32px;
    visibility: visible;
}
.dropdown-content {
    max-height: 0;
    transition: all .4s;
    overflow: hidden;
  }
.dropdown-content.active {
    max-height: 1000px;
  }
@media only screen and (max-width:1400px) {
    
}

@media only screen and (max-width:1200px) {
    .fs-xl-14{
        font-size: 14px;
    }
}

@media only screen and (max-width:992px) {
    
    header img[alt='logo']{
        width: 90px;
    }
    .h-lg-80{
        height: 80px;
    }
    .w-lg-101{
        width: 101px!important;
    }
    .fs-lg-16{
        font-size: 16px;
    }
    .fs-lg-20{
        font-size: 20px;
    }
}

@media only screen and (max-width:768px) {
    .text-md-main{
        color: #73b4a6!important;
    }
    .stroke-md-main{
        stroke: #73b4a6!important;
    }
    .h-md-230{
        height: 230px;
    }
    .banner img{
        height: 214px;
    }
}

@media only screen and (max-width:576px) {
    .-mt-sm-213{
        margin-top: -213px;
    }
    .mt-sm-210{
        margin-top: 210px!important;
    }
    .fs-sm-18{
        font-size: 18px;
    }
    .fs-sm-12{
        font-size: 12px;
    }
}

@media only screen and (max-width:400px) {

}